extends layouts/main 

block content
    .video__player
        video(src=`/${video.fileUrl}`)
    .video__info
        a(href=routes.editVideo(video.id)) Edit Video
        h5.video__title=video.title
        span.video__views=video.views
        p.video__description=video.description
    .video__comments
        if video.comments.length === 1
            span.video__comment-number 1 comment 
            //- comment's' 라고 복수로 작성하는것 피하기 위해 1개만 따로 설정해줌
        else
            span.video__comment-number #{video.comments.length} comments